<div class="user-container">
    <div class="match-description">
        <mat-card class="" style="height: 145px;
    margin-bottom: 12px;">
            <mat-card-content>
                <div class="" style="width:40%; float: left;">
                    <span>Saturday 16
                June 16 Jun 2018 - 13:00 Local time
                Group C Kazan Arena Kazan</span>
                </div>
                <div class="" style="width:40%; float: right; ">
                    <mat-radio-group ngDefaultControl name="example-radio-group" class="example-radio-group" [(ngModel)]="selectedTeam">
                        <mat-radio-button name="example-radio-button" class="example-radio-button" *ngFor="let team of teams" [value]="team">
                            {{team}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="example-selected-value">Your favorite Team is: {{selectedTeam}}</div>
                    <div class="example-selected-value"> <button mat-raised-button color="primary">Save</button></div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="" style="height: 145px;
    margin-bottom: 12px;">
            <mat-card-content>
                <div class="" style="width:40%; float: left;">
                    <p>
                        Saturday 16 June 16 Jun 2018 - 13:00 Local time Group C Kazan Arena Kazan
                    </p>
                </div>
                <div class="" style="width:40%; float: right;">
                    <mat-radio-group ngDefaultControl name="example-radio-group" class="example-radio-group" [(ngModel)]="selectedTeam">
                        <mat-radio-button name="example-radio-button" class="example-radio-button" *ngFor="let team of teams" [value]="team">
                            {{team}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="example-selected-value">Your favorite Team is: {{selectedTeam}}</div>
                    <div class="example-selected-value"> <button mat-raised-button color="primary">Save</button></div>

                </div>

            </mat-card-content>

        </mat-card>
        <mat-card class="" style="height: 145px;
    margin-bottom: 12px;">
            <mat-card-content>
                <div class="" style="width:40%; float: left;">
                    <p>
                        Saturday 16 June 16 Jun 2018 - 13:00 Local time Group C Kazan Arena Kazan
                    </p>
                </div>
                <div class="" style="width:40%; float: right;">
                    <mat-radio-group ngDefaultControl name="example-radio-group" class="example-radio-group" [(ngModel)]="selectedTeam">
                        <mat-radio-button name="example-radio-button" class="example-radio-button" *ngFor="let team of teams" [value]="team">
                            {{team}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="example-selected-value">Your favorite Team is: {{selectedTeam}}</div>
                    <div class="example-selected-value"> <button mat-raised-button color="primary">Save</button></div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="team-selection">
    </div>
</div>