<div class="bet-container">
  {{username}} <span *ngIf="score !== undefined">-</span> {{score | number : '1.2-2'}}
  <br />
  <button (click)="logout()">Logout</button>
  <hr />
<div class="match-description">
  <mat-card class="" style="
margin-bottom: 12px;" *ngFor="let match of matches | async">
      <mat-card-content>
          <div class="bet-mat-container">
            <div class="left-div left-text">
              <span [ngClass]="match.result == 'bets_firstteam' ? 'winner' : ''">{{match.firstteam}}</span> vs <span [ngClass]="match.result == 'bets_secondteam' ? 'winner' : ''">{{match.secondteam}}</span>&nbsp;
              <small>{{match.starttime | date:"MMM d, y h:mm a"}}</small>&nbsp;
              <br/>
              <span>Current Selected: {{match.currentSelected(userid)}}</span>
              <br/>
              <span *ngIf="match.points">
                <b>Points: </b><span [ngClass]="match.points? 'bet-points' : ''">{{match.points | number : '1.2-2'}}</span>
              </span>
              <br/>
            </div>
            <div class="right-div right-text">
              <label>
                <input [disabled]="freezeBettings(match.starttime)" type="radio"
                    [checked]="teamselection[match.key] == FIRSTTEAM"
                    [value]="FIRSTTEAM"
                    (change)="onSelectionChange(FIRSTTEAM, match.key)"  >
                  {{match.firstteam}}
                </label>
                <label>
                  <input [disabled]="freezeBettings(match.starttime)" type="radio"
                    [checked]="teamselection[match.key] == SECONDTEAM"
                    [value]="SECONDTEAM"
                    (change)="onSelectionChange(SECONDTEAM, match.key)" >
                  {{match.secondteam}}
                </label>
                <label *ngIf="match.starttime < 1530343994000">
                  <input [disabled]="freezeBettings(match.starttime)" type="radio"
                  [checked]="teamselection[match.key] == DRAW"
                  [value]="DRAW"
                  (change)="onSelectionChange(DRAW, match.key)" >
                  Draw
                </label>
                <div class="save-button">
                  <button [disabled]="freezeBettings(match.starttime)" (click)="placeBet(match)" mat-raised-button color="primary">Save</button>&nbsp;
                  <button [disabled]="!freezeBettings(match.starttime)" (click)="openBets(match.key)"  mat-raised-button color="primary">Bets</button>
                </div>
              </div>
          </div>
      </mat-card-content>
  </mat-card>
</div>
</div>
