<div class="app-header">
    <div class="header">
        <div class="header-content">
            <div class="header-content-left">
                {{ title }}!
                <!-- <button mat-button>
                    <mat-icon class="menubar-icon" (click)="drawer.toggle()">menubar</mat-icon>
                </button> -->
            </div>
            <div class="header-content-center">
            </div>
            <div class="header-content-right">
                <nav class="navbar">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li>
                                <button (click)="goToDashboard()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false"> Dashboard</button></li>
                            <li>
                                <button (click)="goToDashboard()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">Match Details</button>
                            </li>
                            <li>
                                <button (click)="goToTeam()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">Team</button>

                            </li>
                            <li>
                                <button class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">Rule</button>

                            </li>

                            <li>
                                <button (click)="goToUser()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">Login</button>

                            </li>

                        </ul>
                    </div>
                </nav>
                <!-- <div>
                    <div class="">
                        <div class="header-nav-content">
                            <div class="dash-button" >
                                <button type="button" (click)="goToDashboard()" > Dashboard</button>
                            </div>
                            <div>
                                <button type="button" (click)="goToDashboard()">Match Details</button>
                            </div>
                            <div>
                                <button type="button" >Rule</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<mat-sidenav-container class="example-container">
    <mat-sidenav-content class="main-content">
        <div class="sidenav-content">
            <div class="sidenav-inner-content">
                <div class="sidenav-body-content">
                    <!-- <div class="viewer-nav">
                        <div class="viewer-nav-content">
                            <mat-sidenav #drawer mode="side" opened>
                                <div class="sidenav-nav-content">
                                    <button (click)="goToDashboard()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false"> Dashboard</button>
                                    <button (click)="goToDashboard()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">Match Details</button>
                                    <button class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">Rule</button>
                                    <button (click)="goToUser()" class="nav-content-btn" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">User</button>
                                </div>
                            </mat-sidenav>
                        </div>
                    </div> -->
                    <div class="viewer">
                        <div class="viewer-content">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>