/* .viewer {
    background: #eee;
    font-weight: 400;
    padding: 20px 50px 50px 20px;
    width: 99%;
    overflow-y: scroll;
    min-height: 500px;
}

.viewer-content {
    position: relative;
    min-height: 500px;
    margin-top: 10%;
} */
.header-container {
    padding: 8px;
    color: #fff;
    background: #002d72;
    position: fixed;
    width: 100%;
}
.main-container {
    top: 61px;
    position: relative;
    max-height: 550px;
    overflow-y: scroll;
    width: 100%;
}
.footer-container  {
    background: #002d72;
    color: #fff;
    top: 600px;
    padding: 0.01em 16px;
    position: fixed;
    width: 100%;
   
}
@media screen and (max-width: 600px) {
    .header-container {
        top: 0;
    }
}
