.header-container {
    padding: 8px;
    color: #fff;
    background: #002d72;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.main-container {
    top: 61px;
    position: relative;
    overflow-y: scroll;
    width: 100%;
}
.footer-container {
    background: #002d72;
    color: #fff;
    top: 600px;
    padding: 0.01em 16px;
    position: fixed;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .header-container {
        top: 0;
    }
}
